@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  width: 100%;
  background-color: #212121;
}

.custom-swal-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px; 
  overflow-y: hidden;
}

.custom-swal-title {
  font-size: 15px;
}
